@{
    ViewData["Title"] = "About Page";
}
<h1>@ViewData["Title"]</h1>

<p>Futsal Reservation System is an online reservation system which allows users to reserve futsal courts.</p>

<p>This project is made as a practical assignment for Software Engineering course. This project is made using ASP .NET Core and C#.</p>

<p>Project Members and their contributions</p>

<table class="table">
    <thead>
        <tr>
            <td>Name</td>
            <td>Symbol No.</td>
            <td>Contribution</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>James Kumar Shrestha</td>
            <td>Symbol No.</td>
            <td>Contribution</td>
        </tr>
        <tr>
            <td>Rambabu Poddar</td>
            <td>Symbol No.</td>
            <td>Contribution</td>
        </tr>
        <tr>
            <td>Romeo Jung Lama</td>
            <td>Symbol No.</td>
            <td>Contribution</td>
        </tr>
        <tr>
            <td>Sushant Adhikari</td>
            <td>Symbol No.</td>
            <td>Contribution</td>
        </tr>
    </tbody>
</table>